.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.flag {
  width:1200px;
  height:800px;
  margin:auto;
  border:1px solid black;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Japanese_rising_sun.svg/1024px-Japanese_rising_sun.svg.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 460px;
}





.white {
    background-color:white;
  
}

