.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.flag {
  width:900px;
  height:600px;
  margin:auto;
  border:1px solid black;
}


.stripe {
    width:100%;
    height:33.33%;
}

.green {
    background:#18B637;
}

.white {
    background:white;
}
.blue {
    background:#0072C6;
}
