.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.flag {
  width:1200px;
  height:600px;
  margin:auto;
  border:1px solid black;
}

.stripe {
    width:100%;
    height:200px;
}

.blue {
    background:#00bce4;
}

.white {
    background:#FFFFFF;
    background-image:url("stars.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:350px;
}

img {
    margin-left:495px;
}

