.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.flag {
  width:1000px;
  height:670px;
  margin:auto;
  border:1px solid black;
}

/* .stripe {
    width:33.33%;
    height:600px;
} */

.green {
    background:#009440;
    height:670px;
    width:100%;
    float:left;
}


.rhombus {
    height: 450px; 
    width:800px;
    margin:115px 100px 115px 100px;
    clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    background: #ffcb00;
    clip-path:center;
    background-image:url("brazil.png");
    background-repeat:no-repeat;
    background-position:center;
  }



